In [1]:
from numpy.random import seed
seed(3)
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from os.path import expanduser as ospath
import pickle
from My_functions.A_merge_datasets import merge_select_columns 
from My_functions.B_pre_processing_data import pre_process_db  #my merge and pre-procesisng function

## Import the four datasets to be merged together

In [2]:
dt_fw = pd.read_excel(ospath('~/final_project/Labelled_data/FW.xlsx'))
dt_fw = dt_fw[:1185]
dt_LIB = pd.read_excel(ospath('~/final_project/Labelled_data/LIB.xlsx'))
dt_LIB = dt_LIB[:1217]
dt_LC = pd.read_excel(ospath('~/final_project/Labelled_data/LC.xlsx'))
dt_SC = pd.read_excel(ospath('~/final_project/Labelled_data/SC.xlsx'))


dt_LIB['publn_nr'] = np.int64(dt_LIB['publn_nr'])
dt_LC['publn_nr'] = np.int64(dt_LC['publn_nr'])
dt_fw['publn_nr'] = np.int64(dt_fw['publn_nr'])
dt_SC['publn_nr'] = np.int64(dt_SC['publn_nr'])

In [3]:
db = merge_select_columns(dt_fw, dt_LC, dt_SC, dt_LIB, labels = 'Yes', abstracts = 'No')

In [4]:
db.shape

(4857, 4)

## Call text pre-processing function

In [5]:
db = pre_process_db(db)

In [6]:
db.head()

,publn_nr,type,label,text,text_clean
1,4254843,Claim 1,product,An electrically powered vehicle comprising: a ...,electrically power vehicle comprise body suppo...
2,4254843,Claim 2,product,An electrically powered vehicle as recited in ...,electrically power vehicle recite claim wherei...
3,4254843,Claim 3,product,An electrically powered vehicle as recited in ...,electrically power vehicle recite claim wherei...
4,4254843,Claim 4,product,An electrically powered vehicle as recited in ...,electrically power vehicle recite claim compri...
5,4254843,Claim 5,product,An electrically powered vehicle as recited in ...,electrically power vehicle recite claim compri...

In [7]:
print(db['text'].iloc[10])

An electrically powered vehicle as recited in claim 6 wherein said ventilator means includes air passage means for directing air from said fan means to outlet means external of said vehicle.

In [8]:
print(db['text_clean'].iloc[10])

electrically power vehicle recite claim wherein say ventilator mean include air passage mean direct air say fan mean outlet mean external say vehicle

## Save the pre-processed dataset with Pickle

In [9]:
with open('Pickle_Files/Claims_cleaned.pickle', 'wb') as file:
    pickle.dump(db, file)